body {
    margin: 0;
    padding: 0;
}

#Tilskuddslistene {
    --TLAccentHue: 30deg;
    --TLAccentColorFull: hsl(var(--TLAccentHue), 100%, 50%);
    --TLAccentColorBackground: hsl(var(--TLAccentHue), 100%, 95%);
    --TLAccentColorLight: hsl(var(--TLAccentHue), 100%, 80%);
    --TLAccentColorDark: hsl(var(--TLAccentHue), 100%, 20%);
    --TLButtonBorderRadius: 99px;
    --TLButtonPadding: 0.6rem 1.2rem;
    --TLBoxBorderRadius: 3px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: 1400px;
}
#Tilskuddslistene * {
    box-sizing: border-box;
    font-family: 'National2', 'Open Sans', sans-serif;
}


/* National2 */

@font-face {
    font-family: 'National2';
    src: url('https://assets.acdn.no/pkg/@amedia/brick-fonts/1.5.0/fonts/charlie/national-2-light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'National2';
    src: url('https://assets.acdn.no/pkg/@amedia/brick-fonts/1.5.0/fonts/charlie/national-2-regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'National2';
    src: url('https://assets.acdn.no/pkg/@amedia/brick-fonts/1.5.0/fonts/charlie/national-2-medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'National2';
    src: url('https://assets.acdn.no/pkg/@amedia/brick-fonts/1.5.0/fonts/charlie/national-2-bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }